<div class="profile scrollbar">
  <span class="icon pointer"><i class="bi bi-power"></i></span>
  <div class="container" [formGroup]="profileForm">
    <div class="row mt-5">
      <div class="col-12">
        <h1 class="un text-center">Almost Done.</h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 img-container d-flex justify-content-center">
        <div class="img-wrapper d-flex justify-content-center align-items-center pointer">
          <img src="https://i.pinimg.com/736x/07/dc/0d/07dc0d4c4720bf964bcd8b6b56b90a55.jpg" alt="">
          <span class="uploader"><i class="bi bi-plus d-flex"></i></span>
        </div>
      </div>
    </div>
    <div class="row mt-5 profile-name">
      <div class="col-12 text-center mt-5">
        <h5>Give yourself a cool name.</h5>
        <input type="text" formControlName="name">
      </div>
    </div>
    <div class="row mt-1 mb-3">
      <div class="col-12 text-center mt-5">
        <button class="btn done-btn" (click)="onSubmit()"><i class="bi bi-check2"></i> <span>Done</span></button>
      </div>
    </div>
  </div>
</div>
